rchivos de usuario y carpetas de salida de compilación

[Bb]in/

[Oo]bj/

Generated/



# .NET Core / .NET 9.0

project.lock.json

project.fragment.lock.json

artifacts/



# Visual Studio

.vs/

*.user

*.userosscache

*.sln.docstates



# Visual Studio Code

.vscode/

!.vscode/settings.json

!.vscode/tasks.json

!.vscode/launch.json

!.vscode/extensions.json

*.code-workspace



# JetBrains (Rider)

.idea/

*.sln.iml



# Archivos específicos de MAUI / Xamarin

.DS_Store

*.suo

*.user

*.csproj.user

*.sqlproj.user

AppPackages/

BundleArtifacts/



# Android

*.ap_

*.apk

*.aab

[Aa]ssetPacks/



# iOS / MacCatalyst

[Dd]erivedData/

[Ll]og/

*.swiftsave

.apple_dist/

*.xcworkspace

!default.xcworkspace

*.xcuserdata

*.xccheckout

*.xcscmblueprint



# Secretos y variables de entorno

.env

.env.*

secrets.json

appsettings.Development.json



# Publicación y Paquetes

*.nupkg

*.snupkg

node_modules/

# Docker
docker-compose.override.yml
postgres_data/
